{% extends 'taller_makween/base.html' %}
import L from "leaflet";
{% load static %}

{% block title %}⚡ Sobre Nosotros {% endblock %}

{% block content %}
      <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <!-- SERVICIOS -->
      <hr class="featurette-divider">
      <div class="row featurette">
         <div class="col-md-7">
            <h2 class="featurette-heading"> Hola! <span class="text-muted"> Mi nombre es Cristian Toledo  </span></h2>
            <p class="lead"> 
               Director de proyectos y fundador de Taller Mqueen.
               Durante la experiencia obtenida en Mecánica automotriz, además de haber trabajado como project manager en proyectos fotovoltaicos, he tenido la posibilidad prestar servicios particulares a universidades e institutos. </p>
         </div>
         <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static 'IMG/Empresa/owner.jpg' %}">
         </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
         <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"> NUESTRA BREVE HISTORIA <span class="text-muted"> DE NUESTRA EXCELENCIA.</span></h2>
            <p class="lead">MQueen fue fundado por CRISTIAN TOLEDO hace alrededor de una década, quien tras una carrera en una importante carrera automotriz, decidió crear un taller dedicado a la mecánica automotriz con un enfoque en la personalización y el cuidado meticuloso de los vehículos. Especializados en mantenimiento, reparación y restauración de vehículos clásicos, así como en modificaciones personalizadas y diagnóstico avanzado, en MQueen nos comprometemos a ofrecer un servicio de calidad excepcional, combinando tecnología moderna con artesanía tradicional para asegurar la máxima satisfacción del cliente en cada interacción.
            </p>
         </div>
         <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static 'IMG/Empresa/historia.jpg' %}">
         </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
         <div class="col-md-7">
            <h2 class="featurette-heading"> ÚLTIMAS TECNOLOGÍAS Y HERRAMIENTAS <span class="text-muted"> TODO AUTOMOTRIZ.</span></h2>
            <p class="lead"> En TALLER MQUEEN, utilizamos tecnología de punta y herramientas modernas para garantizar diagnósticos precisos y reparaciones eficientes. Esto nos permite ofrecer un servicio de calidad superior y mantenernos a la vanguardia en la industria automotriz. </p>
         </div>
         <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static 'IMG/Empresa/herramientas.jpg' %}">
         </div>
      </div>
      <!-- WHY US -->
      <hr class="featurette-divider">
      <div class="row featurette">
         <div class="col-md-7">
            <h2 class="featurette-heading"> CALIDAD GARANTIZADA <span class="text-muted"> 100% ESTABLECIDA.</span></h2>
            <p class="lead"> En TALLER MQUEEN, la calidad está garantizada en cada servicio. Nuestros expertos altamente capacitados utilizan tecnología de vanguardia para proporcionar reparaciones precisas y eficientes, respaldadas por sólidas garantías que brindan tranquilidad a nuestros clientes. </p>
         </div>
         <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static 'IMG/Empresa/calidadgarant.jpg' %}">
         </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
         <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"> EXPERIENCIA Y PROFESIONALISMO <span class="text-muted"> TODO EN UN TALLER.</span></h2>
            <p class="lead">En TALLER MQUEEN, la experiencia y el profesionalismo son pilares fundamentales. Nuestro equipo altamente capacitado y con años de experiencia garantiza un servicio confiable y de calidad, brindando a nuestros clientes la tranquilidad de saber que sus vehículos están en manos expertas.</p>
         </div>
         <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static 'IMG/Empresa/exp.jpg' %}">
         </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
         <div class="col-md-7">
            <h2 class="featurette-heading"> COMUNICACIÓN Y ACCESO <span class="text-muted"> PARA TU SEGURIDAD Y TRANQUILIDAD. </span></h2>
            <p class="lead"> 
               <p class="lead"> En nuestro taller mecánico, nos enorgullecemos de mantener una comunicación clara y constante con nuestros clientes. Entendemos que tu tiempo y tu vehículo son valiosos, por eso estamos comprometidos a proporcionarte información actualizada y precisa en cada paso del proceso de reparación y mantenimiento.
               </p>
               </div>
         <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static 'IMG/Empresa/callcenter.jpg' %}">
         </div>
      </div>
      <hr class="featurette-divider">
      <hr class="featurette-divider">
      <div class="row featurette">
         <div class="col-md-7">
            <h2 class="featurette-heading">Contáctanos!<span class="text-muted"> En nuestras oficinas</span></h2>
            <p class="lead"> 
               V región de Valparaíso,  Viña del Mar, Plaza Vergara 142, of. 1 <br>
               +56 9 3320 7791 <br>
               ray.mak@hotmail.com
            </p>
         </div>
         <div class="col-md-5">
            <div id="map" class="mb-4" style="height: 400px;"> </div>
         </div>
      </div>
      
      <script src="{% static 'JS/map.js' %}"></script>
{% endblock %}
