{% extends 'taller_makween/base.html' %}

{% load static %}

{% block title %}⚡ Preguntas Frequentes {% endblock %}

{% block content %}
      <div class="container-fluid">
         <div class="row">
            <div class="col-1" style="background-color: rgb(223, 223, 223);"> </div>
            <div class="col-10">
               <div class="container" style="padding-bottom: 3%;">
                  <h2 class="mt-5 mb-4">Preguntas frecuentes</h2>
                  <div class="accordion" id="accordionFAQ">
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                           ¿Cuáles son sus horarios de atención?
                           </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                           Nuestro taller está abierto de lunes a viernes de 8:00 a.m. a 6:00 p.m. y los sábados de 8:00 a.m. a 2:00 p.m. Cerramos los domingos y días festivos.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           ¿Necesito hacer una cita para traer mi vehículo?
                           </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                              Recomendamos hacer una cita para asegurarnos de que podamos atenderte sin demora. Sin embargo, también aceptamos clientes sin cita previa en función de la disponibilidad.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           ¿Qué servicios ofrecen?
                           </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                           Ofrecemos una amplia gama de servicios, incluyendo cambio de aceite, alineación y balanceo de ruedas, frenos, reparaciones del motor, diagnóstico computarizado, mantenimiento preventivo, y más.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           ¿Ofrecen garantía en sus servicios?
                           </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                              Sí, ofrecemos una garantía de 6 meses o 10,000 kilómetros (lo que ocurra primero) en la mayoría de nuestros servicios y reparaciones. Consulta con nuestro personal para detalles específicos sobre la garantía.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                           ¿Puedo esperar en el taller mientras reparan mi vehículo?
                           </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                           Contamos con una sala de espera cómoda para nuestros clientes, con Wi-Fi gratuito, café y revistas. Alternativamente, también ofrecemos servicio de transporte local para tu conveniencia.   
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                           ¿Aceptan pagos con tarjeta de crédito?
                           </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                           Sí, aceptamos pagos con tarjeta de crédito Visa, Mastercard y American Express.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                           ¿Trabajan con todas las marcas y modelos de vehículos?
                           </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                           Sí, nuestros mecánicos están capacitados para trabajar con todas las marcas y modelos de vehículos, tanto nacionales como importados.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                           ¿Cuánto tiempo tomará reparar mi vehículo?
                           </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                           Sí, nuestros mecánicos están capacitados para trabajar con todas las marcas y modelos de vehículos, tanto nacionales como importados.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                           ¿Qué debo hacer si mi vehículo se descompone en la carretera?
                           </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                           En caso de una avería en la carretera, te recomendamos contactar a nuestra línea de asistencia en emergencias. Ofrecemos servicios de remolque para traer tu vehículo al taller.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                           ¿Cómo puedo saber el estado de mi vehículo durante la reparación?
                           </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionFAQ">
                           <div class="accordion-body">
                           Mantenemos a nuestros clientes informados durante todo el proceso de reparación. Puedes llamar o enviar un mensaje en cualquier momento para obtener una actualización del estado de tu vehículo.
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-1" style="background-color: rgb(223, 223, 223);">
            </div>
         </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="faqModalLabel">Título del FAQ</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  Contenido del FAQ aquí...
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
               </div>
            </div>
         </div>
      </div>
{% endblock %}
