{% block content %}
<form method="POST" action="{% url 'vehiculosAdd' %}">
    {% csrf_token %}
    <label for="placa">Placa:</label>
    <input type="text" name="placa" id="placa" required>
    <label for="marca">Marca:</label>
    <input type="text" name="marca" id="marca" required>
    <label for="modelo">Modelo:</label>
    <input type="text" name="modelo" id="modelo" required>
    <label for="año">Año:</label>
    <input type="number" name="año" id="año" required>
    <button type="submit">Agregar</button>
</form>
{% endblock %}