{% load static %}

{% block title %}⚡ Editar Vehiculo {% endblock %}

{% block content %}
    <h1>Editar Vehículo</h1>
    <form method="post">
        {% csrf_token %}
        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" value="{{ vehiculo.placa }}" readonly><br>

        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" value="{{ vehiculo.marca }}"><br>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" value="{{ vehiculo.modelo }}"><br>

        <label for="año">Año:</label>
        <input type="number" id="año" name="año" value="{{ vehiculo.año }}"><br>

        <button type="submit">Guardar</button>
        <a href="{% url 'crud' %}">Cancelar</a>
    </form>
{% endblock %}

